<header>
  <nav class="navbar navbar-expand-md navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
      <div class="col-auto ml-auto">


      <% try { %>
      <% if (user) { %>
        <form class="form-inline my-2 my-lg-0" style="display: flex; justify-content: flex-end" action="/logout" method="POST">
          <h6>Hi, <%= user.email %>!</h6>
          <button class="btn btn-info my-2 my-sm-0" type="submit" style="margin-left: 1em">Log Out</button>
        </form>
      
        <% } } catch { %>
          <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link active" href="http://localhost:8080/login" style="margin-left: 3em">Log In</a>
            </li>
            <li class="nav-item">
              <a  href='http://localhost:8080/register'><button class="btn btn-info my-2 my-sm-0" style="margin-left: 1em">Sign Up</button></a>
            </li>
          </ul>
          <% } %>
      </div>
    </div>
  </nav>
</header>